@import "../sass/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Nerko+One&display=swap");

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 10 / 16 = 62.5%  1rem = 10px */

  @include respond(tab-port) {
    font-size: 75%; /* 12 / 16 = 75%  1rem = 12px */
  }
  @include respond(tab-land) {
    font-size: 87.5%; /* 14 / 16 = 87.5%  1rem = 14px */
  }
  @include respond(desktop) {
    font-size: 75%; /* 12 / 16 = 75%  1rem = 12px */
  }
  @include respond(big-desktop) {
    font-size: 100%; /* 16 / 16 = 100%  1rem = 16px */
  }
}

#root,
html,
body,
.App {
  height: 100%;
}

body {
  font-family: "Open Sans Condensed";
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.btn {
  outline: none;
}

select,
input,
textarea {
  outline: none;
}

/******/

.title {
  margin: 2rem;
  font-size: 4rem;
  text-align: center;
}

.title-2 {
  margin: 2rem;
  font-size: 3.2rem;
  text-align: center;

  @include respond(desktop) {
    text-align: start;
    margin-left: 12rem;
  }
}

.pageContainer {
  padding-top: $header-height;

  @include respond(desktop) {
    padding-top: $header-height-1200px;
  }
}

.max-width-big-desktop {
  @include respond(big-desktop) {
    width: 1800px;
    margin: 0 auto;
  }
}

.App {
  display: grid;
  grid-template-rows: 1fr auto;
}

.admin-margin {
  margin: 0 2rem;
}

.adminAdd {
  &__page {
    display: flex;
    justify-content: center;
  }

  &__form {
    padding: 2rem;
  }

  &__title {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 2rem;
  }

  &__input-image {
    display: flex;
    position: relative;
  }

  &__preview-image {
    margin: 0.8rem;
    position: absolute;
    right: 6vw;
    width: 20vw;
    height: 20vw;
    max-width: 12rem;
    max-height: 12rem;
  }
}


/****  form start ****/
.form {
  &__group {
    margin-bottom: 2rem;

    &.input {
      display: grid;
      grid-template-columns: 12rem 1fr;
    }

  }

  &__input {
    width: 100%;
    border: 1px solid $color-black;
    border-radius: 5px;
    opacity: 0.6;

    font-size: 2rem;
    padding: 0.8rem;

    &:focus {
      border-bottom: 2px solid green;
    }
    &:focus:invalid {
      border-bottom: 2px solid red;
    }

    &-image {
      border: none;
      color: transparent;
      border: 1px solid $color-black;
      width: 100%;
      height: 14rem;
      padding: 2rem;
    }
  }

  &__label {
    font-size: 2rem;
    font-weight: 600;
  }

  &__textarea {
    resize: none;
    width: 100%;
    border: 1px solid $color-black;
    opacity: 0.6;
    border-radius: 5px;
    grid-column: 1 / -1;

    font-size: 2rem;
    padding: 0.8rem;
  }
}
/****  form end ****/

/****  page  css transition start ****/
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: all 2000ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
}
/****  page  css transition end ****/