@import './mixins.scss';
$color-primary: #242F40;
// $color-primary-light-3: #526178;
// $color-primary-light-2: #C7D5EC;
$color-primary-light-1: #C1D9FF;
$color-primary-light-2: #D8E7FF;
$color-primary-light-3: #edf4ff;
$color-second: #CCA438;
$color-second-dark: #7F5E08;
$color-second-light-1: #FFDD80;
$color-second-light-2: #FFF3D2;
$color-tertiary: #466465;
$color-tertiary-light-1: #A7CED0;
$color-tertiary-light-2: #C2E1E2;


$color-black: #363636;
$color-grey: #E5E5E5;
$color-grey-dark: #9c9a9a;
$color-white: #ffffff;


$color-brown: #B49A67;
$color-brown-light: #CEB3AB;
$color-purple: #BAA5FF;
$color-purple-light: #C4C6E7;

$radial-gradient-ig: radial-gradient(circle at 15% 200%, #fdf497 0%, #fdf497 5%, #fd5949 35%,#d6249f 50%,#285AEB 90%);
$linear-gradient-fb: linear-gradient(to top, #016de4 50%, #18acfe 100%);

$header-height: 7rem;

$header-height-1200px: 6rem;

$header-icon-title-width: 10rem;

