@import "../../main.style.scss";

.stickers {
  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    gap: 2rem;
    justify-items: center;

    padding: 2rem;

    @include respond(desktop) {
      justify-items: start;
      margin: 0 12rem;
    }
  }
}
