@import "../../main.style.scss";

.contact {
  &__wishContent {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    box-shadow: 0 .2rem 2rem .2rem rgba($color-black, .1);

    &--background {
      object-fit: cover;
      height: 50vh;
      opacity: .4;

      @include respond(tab-land) {
        height: 80vh;
      }
    }
  }

  &__wishCardsContainer {
    height: 50vh;
    width: 100%;
    overflow-y: scroll;

    position: absolute;
    top: 0;
    left: 0;

    @include respond(tab-land) {
      height: 80vh;
    }
  }

  &__wishCards {
    margin: 2rem;
    width: calc(100% - 4rem);
    display: grid;
    gap: 2rem;

    @include respond(tab-land) {
      padding: 0 10rem;
    }
  }

  &__wishForms {
    @include respond(tab-land) {
      padding:  2rem 6rem;
    }
  }


  &__socialMedia {
    margin: 2rem;
    font-size: 2rem;
    
    @include respond(tab-port) {
      padding: 0 10rem;
    }
  }

  &__links {
    margin-top: 2rem;
    display: grid;
    gap: .8rem;
  }

}

