@import "../../main.style.scss";

.characters {

  &__cards {
    margin-bottom: 4rem;
    padding: 1.2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    justify-items: center;
    gap: 2rem;

    @include respond(tab-port) {
      margin: 8rem;
    }

    @include respond(desktop) {
      // grid-template-columns: repeat(3, 1fr);
      padding: 0;
      margin: 2rem;
    }
  }

}
