@import "../../base.style.scss";

@mixin backgroundColor($color-1, $color-2) {
  background-image: linear-gradient(to bottom, $color-1, $color-2);
}

.characterCard {
  height: 100%;
  border: 1px solid #000;
  border-radius: 10px;
  overflow: hidden;
  color: $color-primary;

  .front-side {
    width: 100%;
    height: 50%;
    position: relative;

    .characterImg {
      width: 100%;
      height: 150%;
      object-fit: cover;
      transform: scale(0.66) translateY(-25%);
    }

    .triangle {
      width: 100%;
      height: 8rem;
      position: absolute;
      bottom: -6rem;
      &-1 {
        clip-path: polygon(0 0, 100% 0, 50% 100%);
      }
      &-2 {
        background-image: linear-gradient(
          to bottom,
          $color-white,
          $color-white
        );
        clip-path: polygon(20% 0, 80% 0, 50% 60%);
      }
    }
  }

  .back-side {
    width: 100%;
    height: 50%;

    display: flex;
    align-items: center;

    .character__content {
      padding: 6rem 4rem;

      display: grid;
      gap: 2rem;

      &--name {
        font-size: 2.8rem;
      }
      &--intro {
        line-height: 2rem;
        font-size: 1.6rem;
        font-weight: 500;
        letter-spacing: 4px;
      }
    }
  }

  &:nth-child(1) {
    .back-side,
    .triangle-1 {
      @include backgroundColor($color-white, $color-primary-light-1);
    }
  }
  &:nth-child(2) {
    .back-side,
    .triangle-1 {
      @include backgroundColor($color-white, $color-tertiary-light-1);
    }
  }
  &:nth-child(3) {
    .back-side,
    .triangle-1 {
      @include backgroundColor($color-white, $color-second-light-1);
    }
  }

}
