@import "../../main.style.scss";

@mixin backgroundColor($color-1, $color-2) {
  .card__side--back,
  .triangle-1 {
    background-image: linear-gradient(to bottom, $color-1, $color-2);
  }
}

.characterCard {
  height: 100%;
  border: 1px solid $color-black;
  border-radius: 10px;
  overflow: hidden;
  color: $color-primary;

  .card__side {
    &--front {
      width: 100%;
      height: 50%;
      position: relative;

      .characterImg {
        width: 100%;
        height: 150%;
        object-fit: cover;
        transform: scale(0.66) translateY(-25%);
      }

      .triangle {
        width: 100%;
        height: 8rem;
        position: absolute;
        bottom: -6rem;
        &-1 {
          clip-path: polygon(0 0, 100% 0, 50% 100%);
        }
        &-2 {
          background-image: linear-gradient(
            to bottom,
            $color-white,
            $color-white
          );
          clip-path: polygon(20% 0, 80% 0, 50% 60%);
        }
      }
    }

    &--back {
      width: 100%;
      height: 50%;

      display: flex;
      align-items: center;

      .character__content {
        padding: 2.8rem 4rem;

        display: grid;
        gap: 2rem;
        align-content: center;

        @include respond(tab-port) {
          padding: 3.6rem 4rem 0rem 4rem;
        }

        &--name {
          font-size: 2.8rem;
        }
        &--intro {
          line-height: 2rem;
          font-size: 1.6rem;
          font-weight: 500;
          letter-spacing: 4px;
        }
      }
    }
  }

  &:nth-child(1) {
    @include backgroundColor($color-white, $color-primary-light-1);
  }
  &:nth-child(2) {
    @include backgroundColor($color-white, $color-tertiary-light-1);
  }
  &:nth-child(3) {
    @include backgroundColor($color-white, $color-second-light-1);
  }

  @include respond(desktop) {
    position: relative;
    height: 32vw;
    width: 28vw;
    border:  none;

    .card__side {
      position: absolute;
      top: 0;
      left: 0;
      perspective: 150rem;
      transition: all 0.8s;
      backface-visibility: hidden;
      border: 1px solid $color-black;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

      .triangle {
        display: none;
      }

      &--front {
        height: 100%;

        .characterImg {
          width: 140%;
          transform: scale(0.66) translate(-21%, -25%); 
        }
      }

      &--back {
        height: 100%;
        opacity: 1;
        transform: rotateY(180deg);

        .character__content {
          padding: 0 4rem;
        }
      }
    }

    &:hover .card__side--front {
      transform: rotateY(-180deg);
    }
    &:hover .card__side--back {
      transform: rotateY(0deg);
    }
  }

  @include respond(big-desktop) {
    height: 48rem;
    width: 32rem;

    .card__side {
      &--front {
        .characterImg {
          width: 190%;
          transform: scale(0.55) translate(-40%, -25%); 
        }
      }
    }
  }
}
