@import '../../main.style.scss';

.footer {
  margin-top: 4rem;

  background-color: $color-primary;
  padding: 2rem 0;
  font-size: 1.6rem;
  color: $color-white;
  font-weight: 500;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 3rem 0;
  justify-items: center;


  &__nav {
    font-size: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    gap: 1.2rem;

    
    &--link {
      color: currentColor;
    }
  }

  &__connect {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: .4rem;
    justify-items: center;
    align-items: center;

    &--title {
      font-size: 3rem;
    }

    &--social-icons {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 0 3rem;

      .social__icon {
        width: 4rem;
        height: 4rem;
        color: $color-white;

        &.fb {
          color: $color-second;
        }
        &.ig {
          color: $color-second;
        }
        &.tiktok {
          color: $color-second;
        }
        &.youtube {
          color: $color-second;
        }
      }
    }

  }
}
