@import '../../main.style.scss';

.footer {
  background-color: $color-primary;
  margin-top: 4rem;

  &__content {
    padding: 2rem 0;
    font-size: 1.6rem;
    color: $color-white;
    font-weight: 500;
  
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 3rem 0;
    justify-items: center;
  
    @include respond(desktop) {
      grid-template-columns: 1fr 30rem;
      padding: 2rem;
    }
  }


  &__nav {
    font-size: 3rem;
    display: grid;
    gap: 1.2rem;

    @include respond(desktop) {
      grid-template-columns: repeat(5, minmax(max-content, 1fr));
      align-items: center;
      justify-items: center;
      gap: 2.8rem;
      width: 100%;
    }
    
    &--link {
      color: currentColor;

      @include respond(desktop) {
        &:hover {
          color: rgba($color-second, .7);
        }
      }
    }
  }

  &__connect {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: .4rem;
    justify-items: center;
    align-items: center;

    &--title {
      font-size: 3rem;
    }

    &--social-icons {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 0 3rem;

      .social__icon {
        width: 4rem;
        height: 4rem;
        color: $color-white;

        &.fb {
          color: $color-second;
        }
        &.ig {
          color: $color-second;
        }
        &.tiktok {
          color: $color-second;
        }
        &.youtube {
          color: $color-second;
        }
      }
    }
  }

  &__admin {
    color: $color-white;
    letter-spacing: .8rem;

    display: flex;
    align-items: center;

    &--link {
      color: currentColor;
      margin-left: 1.2rem;
    }
  }
}
