@import '../../main.style.scss';

.history {

  &__year {
    padding: .8rem 1.6rem;
    background-color: $color-primary;
    color: $color-second;
    font-size: 2rem;

    position: sticky;
    top: $header-height;
    z-index: 20;

    @include respond(desktop) {
      top: $header-height-1200px;
    }
  }

  &__tick {
    transform: rotate(90deg);
    display: inline-block;
  }

}