$color-black: #363636;
$color-primary: #242F40;
$color-second: #CCA438;
$color-second-dark: #B49A67;
$color-second-light: #CEB3AB;
$color-grey: #E5E5E5;
$color-white: #FFFFFF;

$color-purple: #BAA5FF;
$color-purple-light: #C4C6E7;

