$color-black: #363636;
$color-primary: #242F40;
$color-second: #CCA438;
$color-second-dark: #B49A67;
$color-second-light: #CEB3AB;
$color-grey: #E5E5E5;
$color-grey-dark: #9c9a9a;
$color-white: #ffffff;

$color-purple: #BAA5FF;
$color-purple-light: #C4C6E7;

$radial-gradient-ig: radial-gradient(circle at 15% 200%, #fdf497 0%, #fdf497 5%, #fd5949 35%,#d6249f 50%,#285AEB 90%);
$linear-gradient-fb: linear-gradient(to top, #016de4 50%, #18acfe 100%);

$header-height: 7rem;


.title {
  margin: 2rem;
  font-size: 4rem;
  text-align: center;
}
